<h1><%= @comic.title %></h1>
<p><%= @comic.description %></p>
<p>Publisher: <%= @comic.publisher.name %></p>
<p>Series: <%= @comic.series.name %></p>

<h2>Reviews</h2>
<% @comic.reviews.each do |review| %>
  <p><%= review.content %> - Rating: <%= review.rating %></p>
<% end %>

<%= link_to "Add Review", new_comic_review_path(@comic) %>